@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background-color: white;
  
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  background-color: black;
}

.cabecalho-menu {
  display: flex;
  gap: 60px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px
}

.conteudo {
  margin-bottom: 48px;
  border-top: 4px solid #e2dcdc;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  align-items: center;
  font-weight: 400;
  font-size: 64px;
  color: black;
  margin-top: 50px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
  margin-left: 17%;
  margin-right: 17%;
  background-color: #e2dcdc;
  box-shadow: 0px 15px 49px -11px rgba(0, 0, 0, 0.60);
}

.conteudo-secundario-titulo {
  border-top: 2px solid black;
  padding-top: 48px;
  font-family: 'Montserrat', cursive;
  font-weight: 400;
  font-size: 30px;
  color: black;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: black;
  text-indent: 4em;
  text-align: justify;
}

.rodape {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  background-color: black;
}

.rodape-nome{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}